div.edit-box {
    padding: 20px 80px;
    margin: 0;
    width: 440px;
    background-color: transparent;
}

.cq-seo-toolbox {
    background-color: #4E514D;
    border: 1px solid #4E514D;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width:400px;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    z-index: 9002;
    overflow: hidden;
    min-height: 100px;
    min-width: 180px;
}

.cq-seo-toolbox.CQjquery {
    position: fixed;
    opacity: 0.94;
}

.cq-seo-toolbox .cq-seo-header {
    height: 28px;
    margin: -1px;
    background-color: #151515;
    border: 1px solid #151515;
    border-radius: 8px 8px 0px 0px;
    white-space: nowrap;
    position: relative;
    cursor: move;
}

.cq-seo-toolbox .cq-close {
    background-image: url(../../../../libs/cq/personalization/components/clientcontext/clientlib/themes/default/icons/close.png);
    position: absolute;
    top: 8px;
    right: 8px;
    height: 14px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: top right;
    cursor: default;
}

.cq-seo-toolbox .cq-seo-suggestions {
    border-bottom: 1px solid #151515;
    min-height: 40px;
    padding: 8px;
}

.cq-seo-toolbox .cq-seo-suggestions li {
    margin-left: 8px;
    list-style-image: url(../icons/cross.png);
}

.cq-seo-toolbox .cq-seo-suggestions li.fixed {
    color: #777777;
    list-style-image: url(../icons/tick.png);
}

.cq-seo-toolbox ul {
    list-style-type: disc;
    padding: 0 0 0 20px;
    margin: 10px 0;
}

.cq-seo-toolbox li {
    border: none;
    font-size: 12px;
    line-height: 14px;
    margin: 2px 0;
    width: auto;
}

.cq-seo-toolbox .tools .section {
    border: none;
    border-bottom: 1px solid #151515;
    min-height: 40px;
    padding: 8px;
}

.cq-seo-toolbox .tools .section:last-child {
    border: none;
}

.cq-seo-toolbox .tools .new {
    margin:8px;
    padding:0;
}

.cq-seo-toolbox h1,
.cq-seo-toolbox h2,
.cq-seo-toolbox h3,
.cq-seo-toolbox p {
    width: auto;
    margin: 0;
    padding: 0;
    color: #ffffff;
    border: none;
}

.cq-seo-toolbox h1 {
    font-size: 20px;
    margin-left: 8px;
    vertical-align: bottom;
    line-height: 28px;
}

.cq-seo-toolbox h2 {
    font-size: 18px;
}

.cq-seo-toolbox label {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 12px;
    display: block;
}

.cq-seo-toolbox input {
    width: 100%;
    background-color: #888888;
    border: none;
    border-radius: 3px;
    padding: 2px 3px;
    margin: 0 -3px;
    display: block;
    font-size: 14px;
}

.cq-seo-toolbox p {
    margin-top: 4px;
    margin-bottom: 12px;
}

.cq-seo-toolbox p[contenteditable] {
    background-color: #000000;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 4px -5px 12px -5px;
}

.cq-seo-toolbox a {
    color: #ffffff;
}