div.edit-box {
    padding: 20px 80px;
    margin: 0;
    width: 440px;
    background-color: transparent;
}

.cq-seo-toolbox {
    background-color: #4E514D;
    border: 1px solid #4E514D;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width:440px;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    z-index: 9002;
}

.cq-seo-toolbox .cq-seo-tools {
    height: 28px;
    margin: -1px;
    background-color: #151515;
    border: 1px solid #151515;
    border-radius: 8px 8px 0px 0px;
}

.cq-seo-toolbox .tools .section {
    border: none;
    border-bottom: 1px solid #151515;
    min-height: 40px;
    padding: 8px;
}

.cq-seo-toolbox .tools .section:last-child {
    border: none;
}

.cq-seo-toolbox .tools .new {
    margin:8px;
    padding:0;
}

.cq-seo-toolbox h2 {
    width: auto;
    margin: 0;
    padding: 0;
    color: #ffffff;
    border: none;
}