.cq-seo-toolbox .images ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cq-seo-toolbox .images ul ul {
    float: left;
    margin-left: 72px;
    width: 100%;
}

.cq-seo-toolbox .images ul li {
    overflow: hidden;
}

.cq-seo-toolbox .images img {
    float: left;
    width: 60px;
    margin-right: -60px;
}


